@media all and (max-width: 500px) {
    nav {
        display: none;
    }
    .welcome {
        grid-template-columns: auto;
        height: auto;
    }
    .left {
        height: 80vh;
        width: 100%;
    }
    .left h1 {
        font-size: 4em;
    }
    .left h2 {
        font-size: 2em;
    }
    /* .skill-container {
        flex-wrap: wrap;
        padding: 0;
    } */
   
}