*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
li {
    list-style: none;
}
ul {
    padding: 0;
}
a {
    text-decoration: none;
}
@font-face {
    font-family: 'HK Grotesk';
    src: url(./assets/fonts/Hanken_Grotesk/HankenGrotesk-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Gagalin';
    src: url(./assets/fonts/Gagalin/Commercial/OTF/Gagalin-Regular.otf);
}
@font-face {
    font-family: 'Schoolbell';
    src: url(./assets/fonts/Schoolbell/Schoolbell-Regular.ttf);
}
body {
    min-height: 100vh;
    display: grid;
    width: 100%;
}
nav {
    background-color: #2c2a31;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}
nav ul {
    width: 100%;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}
nav li {
    height: 50px;
}
nav a {
    height: 100%;
    padding: 0 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-family: 'Gagalin';
    font-weight: lighter;
    color: #24345e;

    &:hover {
        background-color: #059be4;
        opacity: .5;
    }
}
#toggleBtn {
    fill: #c2a922;
    height: auto;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    background-color: #c2aa226a;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 10px 0 -10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 4em;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1));
}
.sidebar li {
    width: 100%;
    height: auto;
}
.sidebar a {
    width: 100%;
}
#xclose {
    width: auto;
    height: auto;
    fill: #fff;
    padding: 20px 0;
}
.hideOnMobile {
    display: none;
}
.first-container {
    width: 100%;
    height: 100%;
    background-image: url(./assets/pics/100blurAbstractArt.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% 70%;
}
.first-container h1 {
    padding: 40px 0;
    font-family: 'Gagalin';
    text-align: center;
    font-size: 4em;
    font-weight: 100;
    color: #2c2a31;
}
.first-container h2 {
    padding: 40px 0;
    font-family: 'HK Grotesk';
    font-weight: 900;
    font-size: 2em;
    text-align: center;
    letter-spacing: 10px;
    color: #d0d2d1;
}
.first-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.second-container h3, .third-container h3, .fourth-container h3, .fith-container h3 {
    font-family: 'Gagalin';
    font-weight: 100;
    font-size: 4em;
    color: #2c2a31;
    text-align: center;
    padding: 20px 10px;
}
.second-container p, .fourth-container p {
    font-family: 'HK Grotesk';
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: .9px;
    padding: 0 20px;
    text-align: left;
}
.brand-me {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c2a922;
    margin: 20px auto;
    width: 250px;
    padding: 5px;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.5);
    border-radius: 5px;
}
.brand-me img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #24345e;
}
.brand-me p {
    font-family: 'HK Grotesk';
    font-weight: 300;
    font-size: 1em;
    text-align: left;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #24345e;
}
.drop-cap::first-letter {
    line-height: .65;
    font-size: 6em;
    float: left;
    font-family: "Gagalin";
    font-weight: lighter;
    color: #24345e;
}
.indent {
    text-indent: 20px;
}
.second-container .logos {
    width: 100px;
    height: 100px;
}
.second-container div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logos-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.third-container {
    background-color: #2c2a31;
}
.third-container h3, .fith-container h3 {
    color: #fff;
    text-shadow: 0px 5px 8px rgba(0,0,0,0.5);
}
.third-container p {
    margin-top: -15px;
    text-align: center;
    font-family: 'Schoolbell';
    color: #fff;
    opacity: .6;
    font-size: 1.2em;
    letter-spacing: 1px;
}
.port-containers {
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-auto-flow: column;
    grid-auto-columns: 91%;
    max-width: 90vw;
    margin: 0 auto;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
.projects {
    display: grid;
    gap: 2px;
    grid-template-rows: min-content;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #059be4;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.5);
}
.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
}
.snaps-inline > * {
    scroll-snap-align: start;
}

.projects h4 {
    font-family: 'HK Grotesk';
    font-size: 1.2em;
    font-weight: 500;
    padding: 10px;
    color: #fff;

}
.projects p {
    font-family: 'HK Grotesk';
    font-size: 0.875em;
    font-weight: 300;
    padding: 10px;
    text-align: left;
    color: #fff;
}
.projects button {
    display: block;
    margin: 15px auto;
    width: 80%;
    max-width: 400px;
    font-size: 1em;
    font-weight: 400;
    background-color: #24345e;
    border: none;
    border-radius: 50px;
    padding: 5px 0;
    color: #d0d2d1;
    font-family: 'HK Grotesk';
    letter-spacing: 1.5px;
}
.projects button:last-child {
    color: #c2a922;
}
.more-btn {
    display: block;
    margin: 20px auto 40px auto;
    letter-spacing: 2px;
    font-family: 'HK Grotesk';
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff;  
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #059be4;
}
.fourth-container img {
    padding: 20px 0;
}
blockquote {
    display: block;
    border-left: 5px solid #c2a922;
    padding: 20px;
    margin: 20px 0;
    color: #24345e;
    font-style: italic;
}
.fith-container {
    background-image: url(./assets/pics/Designer-9.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.fith-container .slogan {
    width: 90%;
    margin: 20px auto;
    background-color: #191919c4;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    color: #fff;
    font-family: 'HK Grotesk';
    font-size: 1em;
    font-style: italic;
    line-height: 1.5;
    letter-spacing: 1px;
    padding: 20px;
    border: 5px solid #ff0099;
    border-radius: 50px 0 50px 0;
}
.fith-container form {
    width: 90%;
    max-width: 400px;
    font-family: 'HK Grotesk';
    font-size: 1em;
    text-decoration: none;
    background-color: #24345ead;
    margin: 40px auto;
    padding: 20px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 5px solid #ff0099; 
    border-radius: 50px 0 50px 0;
}
.fith-container label {
    padding: 5px;
    font-size: 1em;
}
.fith-container form .input-form {
    display: flex;
    flex-direction: column;
    color: #fff;
}
.fith-container form .input-form input, textarea {
    font-size: 1em;
    padding: 15px;
    background-color: #d0d2d1;
    border: none;
    resize: none;
}
.fith-container form p {
    text-align: center;
    font-size: .65em;
    font-style: italic;
    line-height: 1.5;
    color: #d0d2d1;
    padding: 10px;
}
.fith-container form p a {
    color: #c2a922;
}
.fith-container form .blue-btn {
    display: block;
    width: 80%;
    margin: 20px auto;
    border: none;
    border-radius: 50px;
    background-color: #059be4;
    padding: 10px 0;
    color: #fff;
    letter-spacing: 2px;
}
footer {
    padding: 40px;
    text-align: center;
}
footer p {
    font-family: 'HK Grotesk';
    padding: 5px;
    font-weight: 400;
}
footer p:first-child {
    text-transform: uppercase;
    letter-spacing: 2px;
}
.footer-logos {
    display: flex;
}
.footer-logos a {
    margin: 0 auto;
    padding: 10px;
}
footer .frontEnd img {
    display: block;
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
}
footer img {
    width: 50px;
    height: 50px;
}
footer .goodbye {
    font-size: .875em;
    padding: 0;
    font-family: 'Schoolbell';

}
