*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
li {
    list-style: none;
}
ul {
    padding: 0;
}
a {
    text-decoration: none;
}
@font-face {
    font-family: 'HK Grotesk';
    src: url(./assets/fonts/Hanken_Grotesk/HankenGrotesk-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Gagalin';
    src: url(./assets/fonts/Gagalin/Commercial/OTF/Gagalin-Regular.otf);
}
@font-face {
    font-family: 'Schoolbell';
    src: url(./assets/fonts/Schoolbell/Schoolbell-Regular.ttf);
}
body {
    min-height: 100vh;
    display: grid;
    width: 100%;
}
nav {
    position: fixed;
    width: 100%;
    height: auto;
    padding: 10px 0;
    top: 0;
    background-color: #ffffffc1;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 1000;
}
nav ul {
    width: 100%;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}
nav li {
    height: 50px;
}
nav a {
    height: 100%;
    padding: 0 30px;
    border-radius: 5px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: 'HK Grotesk';
    font-weight: 900;
    color: #059be4;

    &:hover {
        background-color: #fff;
        opacity: .6;
    }
}
#toggleBtn {
    fill: #059be4;
    height: auto;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 85vh;
    width: 100%;
    z-index: 1000;
    background-color: #24345eab;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 3em;
}
.sidebar li {
    width: 100%;
    height: auto;
}
.sidebar a {
    width: 100%;
}
#xclose {
    width: auto;
    height: auto;
    fill: #059be4;
}
.hideOnMobile {
    display: none;
}
.main-container {
    padding-top: 50px;
    width: 100%;
    height: 100%;
    background-image: url(./assets/pics/100blurAbstractArt.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.main-container h1 {
    padding: 10px 0;
    font-family: 'Gagalin';
    text-align: center;
    font-size: 4em;
    font-weight: 100;
    color: #d0d2d1;
}
.main-container h2 {
    padding: 40px 0;
    font-family: 'HK Grotesk';
    font-weight: 900;
    font-size: 2em;
    text-align: center;
    letter-spacing: 10px;
    color: #d0d2d1;
}
.main-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* Skills Section */
.skills-container {
    padding-top: 20px;
    padding-bottom: 40px;
    border-top: 10px solid #000;
}
.skills-container h3, .about-container h3, .contact-container h3 {
    font-family: 'Gagalin';
    font-weight: 100;
    font-size: 2.5em;
    color: #24345e;
    text-align: center;
    padding: 20px 10px;
}
.skills-container p, .about-container p {
    font-family: 'HK Grotesk';
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: .9px;
    padding: 0 10px;
    text-align: left;
}
.brand-me {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c2a922;
    margin: 20px auto;
    width: 250px;
    padding: 5px;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.5);
    border-radius: 5px;
}
.brand-me img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #24345e;
}
.brand-me p {
    font-family: 'HK Grotesk';
    font-weight: 300;
    font-size: 1em;
    text-align: left;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #24345e;
}
.drop-cap::first-letter {
    line-height: .65;
    font-size: 6em;
    float: left;
    font-family: "Gagalin";
    font-weight: lighter;
    color: #24345e;
}
.indent {
    text-indent: 20px;
}
.skills-container .logos {
    width: 50px;
    height: 50px;
    opacity: .7;
}
.skills-container div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logos-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

/* Portfolio Section */
.portfolio-container {
    border-top: 10px solid #000;
    padding-top: 50px;
    height: auto;
    background-color: #fff;
}
.portfolio-container h3 {
    font-family: 'Gagalin';
    font-weight: 100;
    font-size: 2.5em;
    color: #24345e;
    text-align: center;
}
.portfolio-container p {
    text-align: center;
    font-family: 'Schoolbell';
    color: #2c2a31;
    opacity: .6;
    font-size: 1.2em;
    letter-spacing: 1px;
    padding: 0 20px;
}
.port-containers {
    padding: 0 10px;
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: 94%;
    max-width: 90vw;
    margin: 10px auto;
    overflow-x: auto;
    /* Hide the scrollbar for mozzilla */
    scrollbar-width: none;
    overscroll-behavior-inline: contain;
}
.port-containers::-webkit-scrollbar {
    display: none;
}
.projects {
    height: 415px;
    display: grid;
    gap: 2px;
    grid-template-rows: min-content;
    border-radius: 20px;
    margin: 0 auto;
    background-color: #059be4;
    padding: 0 10px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.5);
}

/* To Make the Portfolio Section scroll to horizontal */
.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
}
.snaps-inline > * {
    scroll-snap-align: center;
}
.projects h4 {
    font-family: 'HK Grotesk';
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
    padding: 15px 10px;
    color: #fff;

}
.projects img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    margin-top: 10px;
}
.projects p {
    margin: 0;
    font-family: 'HK Grotesk';
    font-size: 1em;
    font-weight: 400;
    padding: 10px 5px;
    text-align: left;
    color: #fff;
}
.btn-con {
    display: grid;
    grid-auto-flow: column;
}
.projects button {
    margin: 20px auto;
    width: 80%;
    height: auto;
    max-width: 400px;
    font-size: 1em;
    font-weight: 400;
    background-color: #24345e;
    border: none;
    border-radius: 100px;
    color: #fff;
    font-family: 'HK Grotesk';
    letter-spacing: 1.5px;
    padding: 10px 0;
}
.projects button:last-child {
    background-color: inherit;
    border: 1px solid #24345e;
    color: #fff;
}
.about-container {
    border-top: 10px solid #000;
    padding-top: 30px;
    padding-bottom: 60px;
}
.about-container img {
    padding: 20px 0;
}
blockquote {
    display: block;
    border-left: 5px solid #c2a922;
    padding: 20px;
    margin: 20px 0;
    color: #24345e;
    font-style: italic;
}
/* Contact Section */
.contact-container {
    border-top: 10px solid #000;
    padding-top: 30px;
    background-image: url(./assets/pics/Designer-9.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.contact-container h3 {
    font-family: 'Gagalin';
    font-weight: 100;
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    text-shadow: 5px 0px 8px rgba(0,0,0,0.5);
}
.contact-container .slogan {
    width: 90%;
    margin: 10px auto;
    background-color: #19191996;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    color: #fff;
    font-family: 'HK Grotesk';
    font-size: 1em;
    font-style: italic;
    line-height: 1.5;
    letter-spacing: 1px;
    padding: 20px;
    border: 5px solid #ff0099;
    border-radius: 20px;
}
/* .contact-container form {
    width: 90%;
    max-width: 400px;
    font-family: 'HK Grotesk';
    font-size: 1em;
    text-decoration: none;
    background-color: #24345ead;
    margin: 40px auto;
    padding: 20px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 5px solid #ff0099; 
    border-radius: 50px 0 50px 0;
}
.contact-container label {
    padding: 5px;
    font-size: 1em;
}
.contact-container form .input-form {
    display: flex;
    flex-direction: column;
    color: #fff;
}
.contact-container form .input-form input, textarea {
    font-size: 1em;
    padding: 15px;
    background-color: #d0d2d1;
    border: none;
    resize: none;
}
.contact-container form p {
    text-align: center;
    font-size: .65em;
    font-style: italic;
    line-height: 1.5;
    color: #d0d2d1;
    padding: 10px;
}
.contact-container form p a {
    color: #c2a922;
}
.contact-container form .blue-btn {
    display: block;
    width: 80%;
    margin: 20px auto;
    border: none;
    border-radius: 50px;
    background-color: #059be4;
    padding: 10px 0;
    color: #fff;
    letter-spacing: 2px;
} */
footer {
    padding: 10px;
    text-align: center;
}
footer p {
    font-family: 'HK Grotesk';
    padding: 5px;
    font-weight: 400;
}
footer p:first-child {
    text-transform: uppercase;
    letter-spacing: 2px;
}
.footer-logos {
    display: flex;
}
.footer-logos a {
    margin: 0 auto;
    padding: 10px;
}
footer .frontEnd img {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
}
footer img {
    width: 50px;
    height: 50px;
}
footer .goodbye {
    font-size: .875em;
    padding: 0;
    font-family: 'Schoolbell';

}
